.navbar{
    background-color: powderblue;
    text-align: center;
}

h1{

    background-color: rgb(94, 181, 192);
    text-align: center;
}

p{
    margin-top: 25px;
    margin-bottom: 25px;

}

#imagem_capa{
    margin-top: 100px;
    margin-bottom: 80px;
}

.botao-home{
    margin-top: 50px;
    margin-bottom: 50px;
}

h4{
    margin-top: 50px;
}

h3{
    margin-top: 30px;
}

.footer .container{
    background-color: powderblue;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}

.copyrigth{
    text-align: right;
    padding-bottom: 10px;
}

.img-footer{
    text-align: center;
}

.text-copyrigth{
    text-align: left;
    padding-top: 20px;
}